<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="balancing_robot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.002528 -0.053438 0"
        rpy="0 0 0" />
      <mass
        value="0.39313" />
      <inertia
        ixx="0.00061679"
        ixy="3.7129E-05"
        ixz="6.2992E-20"
        iyy="0.00034177"
        iyz="1.1526E-20"
        izz="0.00042783" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://balancing_robot/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://balancing_robot/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wheel_R">
    <inertial>
      <origin
        xyz="2.4156E-34 -8.6736E-19 -0.01"
        rpy="0 0 0" />
      <mass
        value="0.03927" />
      <inertia
        ixx="7.4449E-06"
        ixy="0"
        ixz="1.8972E-38"
        iyy="7.4449E-06"
        iyz="2.35E-38"
        izz="1.2272E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://balancing_robot/meshes/wheel_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://balancing_robot/meshes/wheel_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="continuous">
    <origin
      xyz="0 -0.005 -0.045"
      rpy="0 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="wheel_R" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="100"
      velocity="10" />
    <dynamics
      damping="0.001"
      friction="0" />
  </joint>
  <link
    name="wheel_L">
    <inertial>
      <origin
        xyz="-2.4156E-34 0 0.01"
        rpy="0 0 0" />
      <mass
        value="0.03927" />
      <inertia
        ixx="7.4449E-06"
        ixy="7.6468E-54"
        ixz="1.8972E-38"
        iyy="7.4449E-06"
        iyz="1.728E-37"
        izz="1.2272E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://balancing_robot/meshes/wheel_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://balancing_robot/meshes/wheel_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="continuous">
    <origin
      xyz="0 -0.005 0.045"
      rpy="0 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="wheel_L" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="100"
      velocity="10" />
    <dynamics
      damping="0.001"
      friction="0" />
  </joint>
</robot>